body {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root, .container {
  height: 100%;
}

.row-metronome-lights {
  margin-bottom: 60px;
}

.input-bpm {
  font-size: 10vw;
  text-align: center;
  border: none;
  width: 100%;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

.vert-input {
  writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    height: 100%;
    color: black;
    background-color: black;
    padding: 0 5px;
}

.btn {
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: black;
}

.btn:active {
  background-color: black;
}
